*{
  padding: 0px;
  margin: 0px;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background-color: green;
  padding: 30px;
  color: #fff;
}
.menu {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
 // background-color: red;
}
 

.logo{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px 20px;
  border-radius: 20px;
  border: 2px solid yellow;
}
.home {
display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px 20px;
  border-radius: 20px;
  border: 2px solid yellow;
}

.about {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px 20px;
  border-radius: 20px;
  border: 2px solid yellow;
}

.flim-info{
  color: blue;
}

.paragraph{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
//  flex-wrap: 1;
  margin-top: 20px;
  padding: 70px;
  font-size: 20px;
  font-weight: 100px;
  gap: 10px;
  
}
